<header class="header container">
  <div class="logo">
    <img src="/images/logo.png" alt="logo" />
  </div>
  <div>
    <h3 class="title">Proyecto Integrador</h3>
    <span class="subtitle">eCommerce backend</span>
  </div>
  <div class="carrito">
    <img src="/images/carrito.png" alt="carrito" />
    <div>
      <span class="monto"></span>
      <span class="cantidad"></span>
    </div>
  </div>
</header>